{
  "extends": "airbnb/base",
  "rules": {
    "object-curly-spacing": "off",
    "one-var": "off",
    "no-use-before-define": ["error", {"functions": false, "classes": true}],
    "mocha/no-exclusive-tests": 2
  },
  "plugins": [
    "mocha"
  ],
  "env": {
    "mocha": true
  }
}
